:host {
    width: 100%;
    display: block;
}

table.vac-table {
    width: 100%;
    height: clamp(320px, 75%, 540px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    overflow-y: scroll;
    gap: 8px;
    background-color: inherit;
    > tbody {
        width: 100%;
    }
}