* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

:root {
    --purple-primary: #845EF7;
    --purple-secondary: #5628EE;
    --purple-tertiary: #5F3DC4;
    --purple-quaternary: #D0BFFF;

    --gray-darker: #212529;
    --gray-dark: #2F3545;
    --gray-light: #CED4DA;
    --gray-lighter: #F8F9FA;

    --danger: #ff1d0d;
    --success: #06d12b;
}

button.vac-button, a.vac-button {
    transition: 0.2s all linear;
    cursor: pointer;
    &.flat {
        min-width: 180px;
        max-width: 320px;
        padding: 8px 16px;
        font-size: 0.75rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
        background-color: var(--purple-primary);
        border: 2px solid var(--purple-primary);
        border-radius: 8px;
        &.ghost {
            color: var(--purple-primary);
            background-color: white;
            &:hover {
                color: white;
                background-color: var(--purple-primary);
            }
        }
        &:hover {
            color: var(--purple-primary);
            background-color: white;
        }
    }
    &.icon {
        width: 36px;
        height: 36px;
        padding: 4px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: inherit;
        background-origin: content-box;
        border: 2px solid white;
        border-radius: 18px;
        &.edit {
            background-image: url('./assets/images/icons/edit.png');    
        }
        &.delete {
            background-image: url('./assets/images/icons/delete.png');    
        }
        &:hover {
            border: 2px solid var(--gray-dark);
            background-color: var(--gray-lighter);
        }
    }
}

div.vac-form-field > input, div.vac-form-field > select {
    width: 100%;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray-light);
    outline: 0;
    border: 2px solid var(--gray-light);
    border-radius: 8px;
    transition: 0.2s all linear;
    &:hover {
        color: var(--gray-lighter);
        border: 2px solid var(--purple-quaternary);
        transition: 0.2s all linear;
    }
    &:focus {
        color: var(--gray-darker);
        border: 2px solid var(--purple-primary);
        transition: 0.2s all linear;
    }
}

.big-item {
    grid-column: 1/-1;
}

.md-item {
    grid-column: span 2;
}

.small-item {
    grid-column: span 1;
}

form {
    width: 100%;
    height: 100%;
}

span.schedule.status {
    width: 160px;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    border: 0;
    border-radius: 8px;
    &.SCHEDULED {
        background-color: var(--purple-primary);
    }
    &.CANCELLED {
        background-color: var(--danger);
    }
    &.CARRIED_OUT {
        background-color: var(--success);
    }
}