<vac-page>
    <vac-flex mainAxis="column" gap="16">
        <h1>Bem-vindo ao Vac App,</h1>
        <article>
            Este é um Sistema para Gerenciamento de Agendamentos de Vacinação.<br>
            A aba <a routerLink="/schedule">Agendas</a> permite cadastrar, atualizar, visualizar, deletar e listar Agendas.<br>
            A aba <a routerLink="/allergy">Alergias</a> permite cadastrar, atualizar, visualizar, deletar e listar Alergias.<br>
            A aba <a routerLink="/user">Usuários</a> permite cadastrar, atualizar, visualizar, deletar e listar Usuários.<br>
            A aba <a routerLink="/vaccine">Vacinas</a> permite cadastrar, atualizar, visualizar, deletar e listar Vacinas.<br>
        </article>
        <h5>Acesse nossas abas:</h5>
        <ul>
            <li><a routerLink="/schedule">Agendas</a></li>
            <li><a routerLink="/allergy">Alergias</a></li>
            <li><a routerLink="/user">Usuários</a></li>
            <li><a routerLink="/vaccine">Vacinas</a></li>
        </ul>
    </vac-flex>
</vac-page>