<vac-flex mainAxis="column" gap="32">
    <vac-flex justify="space-between" align="center">
        <h1>Vacinas</h1>
        <a vacButton routerLink="/vaccine/form/0">Cadastrar Vacina</a>
    </vac-flex>
    <vac-table *ngIf="vaccines$ | async as vaccines; else emptyTable">
        <vac-table-header>
            <vac-table-header-cell>ID</vac-table-header-cell>
            <vac-table-header-cell>Título</vac-table-header-cell>
            <vac-table-header-cell>Descrição</vac-table-header-cell>
            <vac-table-header-cell>Ações</vac-table-header-cell>
        </vac-table-header>
        <vac-table-row *ngFor="let vaccine of vaccines">
            <vac-table-row-cell>{{ vaccine?.id }}</vac-table-row-cell>
            <vac-table-row-cell>{{ vaccine?.title }}</vac-table-row-cell>
            <vac-table-row-cell>{{ vaccine?.description }}</vac-table-row-cell>
            <vac-table-row-cell>
                <button 
                    vacButton 
                    (click)="onClickDelete(vaccine?.id)" 
                    type="button"
                >
                    Deletar Vacina
                </button>
                <button 
                    vacButton 
                    (click)="onClickEdit(vaccine?.id)" 
                    type="button"
                >
                    Editar Vacina
                </button>
            </vac-table-row-cell>
        </vac-table-row>
    </vac-table>
    <ng-template #emptyTable>
        <vac-empty-table></vac-empty-table>
    </ng-template>
</vac-flex>