div.vac-page-container {
    width: 84%;
    height: 100%;
    padding: 0 0 0 24px;
    background-color: #c4c4c4;
    > div {
        width: 100%;
        height: 100%;
        padding: 24px;
        background-color: white;
        border-radius: 4px;
    }
}