<vac-flex>
    <form *ngIf="scheduleForm$ | async as scheduleForm" [formGroup]="scheduleForm">
        <h1>
            {{ (newSchedule$ | async) ? 'Nova Agenda' : 'Agenda' }}
        </h1>
        <vac-flex mainAxis="column" justify="center" gap="32">
            <vac-grid>
                <vac-form-field class="md-item" *ngIf="users$ | async as users">
                    <vac-form-field-label>Usuário</vac-form-field-label>
                    <select formControlName="user">
                        <option *ngFor="let user of users" [value]="user?.id">{{ user?.name }}</option>
                    </select>
                </vac-form-field>
                <vac-form-field class="md-item" *ngIf="vaccines$ | async as vaccines">
                    <vac-form-field-label>Vacina</vac-form-field-label>
                    <select formControlName="vaccination">
                        <option *ngFor="let vaccine of vaccines" [value]="vaccine?.id">{{ vaccine?.title }}</option>
                    </select>
                </vac-form-field>
                <vac-form-field class="big-item">
                    <vac-form-field-label>Observações</vac-form-field-label>
                    <input 
                        type="text"
                        placeholder="Observações"
                        formControlName="notes"
                    />
                    <vac-form-field-error *ngIf="scheduleForm?.controls['notes']?.touched && scheduleForm?.controls['notes']?.errors?.['required']">
                        Observações é <strong>obrigatório</strong>
                    </vac-form-field-error>
                    <vac-form-field-error *ngIf="scheduleForm?.controls['notes']?.errors?.['maxlength']">
                        Máximo de <strong>200 caracteres</strong>
                    </vac-form-field-error>
                </vac-form-field>
                <vac-form-field class="md-item">
                    <vac-form-field-label>Data de Vacinação</vac-form-field-label>
                    <input 
                        type="datetime-local"
                        placeholder="Data de Vacinação"
                        formControlName="dateTime"
                    />
                    <vac-form-field-error *ngIf="scheduleForm?.controls['dateTime']?.touched && scheduleForm?.controls['dateTime']?.errors?.['required']">
                        Data de Vacinação é <strong>obrigatório</strong>
                    </vac-form-field-error>
                </vac-form-field>
                <vac-flex justify="center" align="center">
                    <span [class]="'schedule status ' + scheduleForm?.controls['status']?.value">
                        {{ getStatusDescription(scheduleForm?.controls['status']?.value) }}
                    </span>
                </vac-flex>
                <vac-form-field *ngIf="scheduleForm?.controls['statusDate']?.value">
                    <vac-form-field-label>Última atualização</vac-form-field-label>
                    <input 
                        type="date"
                        placeholder="Última atualização"
                        formControlName="statusDate"
                        readonly
                    />
                </vac-form-field>
            </vac-grid>
            <vac-flex justify="center" align="center" gap="16">
                <a vacButton="flat-ghost" routerLink="/schedule">Voltar</a>
                <button 
                    vacButton="flat-ghost" 
                    (click)="onClickDelete()" 
                    type="button"
                    *ngIf="!((newSchedule$ | async) || (scheduleDone$ | async))"
                >
                    Deletar Agenda
                </button>
                <button 
                    vacButton="flat" 
                    (click)="onClickCancel()" 
                    type="button"
                    *ngIf="!((newSchedule$ | async) || (scheduleDone$ | async))"
                >
                    Cancelar Agenda
                </button>
                <button 
                    vacButton="flat" 
                    (click)="onClickCarryOut()" 
                    type="button"
                    *ngIf="!((newSchedule$ | async) || (scheduleDone$ | async))"
                >
                    Concluir Agenda
                </button>
                <button 
                    vacButton="flat" 
                    (click)="onSave()" 
                    type="button"
                    *ngIf="(newSchedule$ | async) || !(scheduleDone$ | async)"
                >
                    Salvar Agenda
                </button>
            </vac-flex>
        </vac-flex>
    </form>
</vac-flex>