<vac-flex mainAxis="column" gap="32">
    <vac-flex justify="space-between" align="center">
        <h1>Usuários</h1>
        <a vacButton="flat" routerLink="/user/form/0">Cadastrar Usuário</a>
    </vac-flex>
    <vac-table *ngIf="users$ | async as users; else emptyTable">
        <vac-table-header>
            <vac-table-header-cell>ID</vac-table-header-cell>
            <vac-table-header-cell>Nome</vac-table-header-cell>
            <vac-table-header-cell>Gênero</vac-table-header-cell>
            <vac-table-header-cell>Data de Nascimento</vac-table-header-cell>
            <vac-table-header-cell>Ações</vac-table-header-cell>
        </vac-table-header>
        <vac-table-row *ngFor="let user of users">
            <vac-table-row-cell>{{ user?.id }}</vac-table-row-cell>
            <vac-table-row-cell>{{ user?.name }}</vac-table-row-cell>
            <vac-table-row-cell>{{ user?.gender === 'M' ? 'Masculino' : 'Feminino' }}</vac-table-row-cell>
            <vac-table-row-cell>{{ user?.dateOfBirth | date: 'dd/MM/YYYY' }}</vac-table-row-cell>
            <vac-table-row-cell>
                <vac-flex gap="16">
                    <button 
                        vacButton="icon"
                        vacButtonIcon="delete"
                        (click)="onClickDelete(user?.id)" 
                        type="button"
                    >
                    </button>
                    <button 
                        vacButton="icon"
                        vacButtonIcon="edit"
                        (click)="onClickEdit(user?.id)" 
                        type="button"
                    >
                    </button>
                </vac-flex>
            </vac-table-row-cell>
        </vac-table-row>
    </vac-table>
    <ng-template #emptyTable>
        <vac-empty-table></vac-empty-table>
    </ng-template>
</vac-flex>